.about-container {
    position: relative;
    width: 60%;
    height: auto;
    margin-top: 2%;
    left: 20%;
    text-align: center;
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.view-resume-contianer {
    position: relative;
    background: red;
    width: 100%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: .5rem;
}

.view-resume-contianer:hover{
    background: #ff4d4d;
}

.view-resume-contianer span{
    font-size: 240%;
    color: white;
}

.specific-components {
    position: relative;
    top: 2rem;
}

.education-skills-container {
    position: relative;
    left: 51%;

}