body {
  margin: 0;
}

@font-face {
  font-family: 'Gotham';
  src: url(./fonts/gotham-book.woff);
}

@font-face {
  font-family: 'Gotham';
  src: url(./fonts/gotham-medium.woff);
  font-weight: bold;
}

.background {
  position: fixed;
  height: 150%;
  width: 100%;
  z-index: -1;
}

.main {
  position: absolute;
  height: 150%;
  width: 100%;
  font-family: 'Gotham';
}